/* ---- RESET/BASIC STYLING ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.board {
  overflow: scroll;
  /* https://unsplash.com/license - Martin Sanchez */
  background-image: url("/static/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ---- FORM ---- */
.player-form {
  padding: 32px 32px 0;
}

.player-form input {
  padding: 12px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
}

.player-form button {
  padding: 12px 18px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select,
.custom-select option {
  padding: 12px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  appearance: none; /* Remove default arrow in some browsers */
}

/* Style the arrow icon (you may need to provide your own arrow image) */
.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Additional styles for the editable input */
.custom-select-input {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 32px); /* Adjust the width as needed */
  padding: 12px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

/* Apply focus styles */
.custom-select-input:focus,
.custom-select:focus {
  outline: none;
}

/* Hide arrow when input is focused */
/*.custom-select-input:focus + .select-arrow {
  display: none;
}*/

/* ---- BOARD ---- */
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;

  padding: 24px 32px;

  overflow: scroll;
  overflow-y: none;
  height: 100%;

}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.roster {
  /*position: fixed;*/
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;

  flex-shrink: 0;
}

.drawer {
  width: 250px; /* Adjust the width as needed */
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; /* Off-screen to the left */
  background: rgba(255, 255, 255, 0.0); /* Drawer background color */
  transition: left 0.3s; /* Add a smooth transition effect */
  z-index: 1; /* Ensure the drawer is on top of other content */
  overflow: scroll;
}

.drawer-button {
  position: fixed;
  background: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.drawer-button {
  top: 100px;
  left: 0px;
  z-index: 2;
}

.shift, .group {
  position: relative; /* so the lock button can position - this can't be static (default)*/
  display: flex;
  flex-direction: column;
  gap: 15px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;
  margin: 10px;

  flex-shrink: 0;
}

.player {
  position:relative;
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 4px;

  font-size: 16px;
  cursor: move;
  outline-style: none;

  touch-action: none; /* Prevent default touch behavior */
  user-drag: none; /* Disable user-drag for older browsers */

  overflow: hidden; /* so the number gets clips */
}

.player::before {
  content: attr(number-decoration);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  color: rgba(128, 128, 128, 0.08); /* Adjust the color and opacity of the text */
  font-weight: 900;
  font-size: 80px; /* Adjust the font size of the faint text */
  z-index: 0;
}


.player::after {
  content: attr(shifts-decoration);
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px; /* Adjust the size of the circle */
  height: 20px; /* Adjust the size of the circle */
  background-color: white; /* Adjust the color of the circle */
  border-radius: 50%;
  border: 0px solid black; /* Black outline */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
  align-items: center;
  justify-content: center;
  color: black; /* Text color */
  font-size: 10px;
  display: flex;
}

.hide-decoration::after {
  display: none; /* Hide the additional decoration */
}

.trashcan {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 0px;
  border-radius: 4px;

  font-size: 16px;
  cursor: not-allowed;
  outline-style: none;

  touch-action: none; /* Prevent default touch behavior */
  user-drag: none; /* Disable user-drag for older browsers */
}

/* TODO: use pseudo classes like below to put decorations on the player box
.player::before 
*/

/* alternatively - could use .player:active */
.is-dragging {
  scale: 1.10;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.55);
  background: rgb(50, 50, 50);
  color: white;
}


.is-dbl {
  outline-color: orange;
  outline-width: 3px; 
  outline-style: solid;
}

.is-violates {
  outline-color: red;
  outline-width: 3px; 
  outline-style: solid;
}

#delete-icon {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
  color: red; /* Customize the color */
}


.shiftscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.shiftsrow {
  display: flex;
  flex-wrap: wrap;
}

.lock-button {
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.locked-outline {
  outline: 3px solid #FFFF00;
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 1001;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Footer styling */
.footer {
  background-color: #f4f4f4; /* Choose a neutral background color */
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #888; /* Choose a subtle text color */
  margin-top: 20px; /* Add some space between the content and the footer */
}

/* Optional: Add a border or box shadow for a subtle separation */
.footer {
  border-top: 1px solid #ddd;
}

/* Optional: Hover effect for links in the footer */
.footer a:hover {
  color: #555; /* Choose a slightly darker color on hover */
}