/* ---- RESET/BASIC STYLING ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

.board {
  overflow: scroll;
  /* https://unsplash.com/license - Martin Sanchez */
  background-image: url("/static/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ---- FORM ---- */
#player-form {
  padding: 32px 32px 0;
}

#player-form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;

  font-size: 14px;
  outline: none;
}

#player-form button {
  padding: 12px 32px;

  border-radius: 4px;
  border: none;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  color: black;

  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

/* ---- BOARD ---- */
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;

  padding: 24px 32px;

  overflow: scroll;
  overflow-y: none;
  height: 100%;

}

.heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.roster {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;

  flex-shrink: 0;
}

.shift {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: #f4f4f4;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

  padding: 12px;
  border-radius: 4px;
  width: 225px;
  min-height: 120px;
  margin: 10px;

  flex-shrink: 0;
}

.player {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 12px;
  border-radius: 4px;

  font-size: 16px;
  cursor: move;
  outline-style: none;

  touch-action: none; /* Prevent default touch behavior */
  user-drag: none; /* Disable user-drag for older browsers */
}

.trashcan {
  background: white;
  color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

  padding: 0px;
  border-radius: 4px;

  font-size: 16px;
  cursor: not-allowed;
  outline-style: none;

  touch-action: none; /* Prevent default touch behavior */
  user-drag: none; /* Disable user-drag for older browsers */
}

/* TODO: use pseudo classes like below to put decorations on the player box
.player::before 
*/

/* alternatively - could use .player:active */
.is-dragging {
  scale: 1.10;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.55);
  background: rgb(50, 50, 50);
  color: white;
}


.is-doubleshift {
  outline-color: orange;
  outline-width: 3px; 
  outline-style: solid;
}

.is-violates {
  outline-color: red;
  outline-width: 3px; 
  outline-style: solid;
}

#delete-icon {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
  color: red; /* Customize the color */
}


.shiftscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.shiftsrow {
  display: flex;
  flex-wrap: wrap;
}
