<!DOCTYPE html>
<!-- kudos to https://github.com/TomIsLoading/drag-and-drop-kanban to get us started -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Line Up Generator (alpha)</title>

    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/static/drag.js" defer></script>
    <script src="/static/ajax.js" defer></script>
    <script src="/static/scrollaction.js" defer></script>
    <script src="/static/drawer.js" defer></script>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script src="/static/mypusher.js" defer></script>

  </head>
  <body>
    <div id="loading-overlay" class="loading-overlay">
      <div class="spinner"></div>
    </div>

    {% block content %} {% endblock content %}
  </body>
  <footer class="footer">
    &copy; 2023 Line Up Generator. All rights reserved.<BR>
    version: {{ git_commit_id }} <BR>
    alpha: database may be reset on upgrades (no database migration)
  </footer>
</html>
