<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fairplay</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <img src="/static/bluedevils.png" alt="Blue Devils Logo">
        <h1>U11 Nepean Bluedevils Fairplay</h1>
    </header>
    <div class="content">
      <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Minutes</th>
          </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            {% for player in group %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.minutes }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
      </table>

    </div>
</body>
</html>


