<!DOCTYPE html>
<!-- kudos to https://github.com/TomIsLoading/drag-and-drop-kanban to get us started -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fairplay</title>

    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/drag.js" defer></script>
    <script src="/static/player.js" defer></script>
    <script src="/static/ajax.js" defer></script>
    <script>
      window.addEventListener('load', function() {
        getdata();
        setupDraggablesAndDroppables();
      });
    </script>
  </head>
  <body>
    <div class="board">
      <form id="player-form">
        <input type="text" placeholder="New Player..." id="player-input" />
        <button type="submit">Add +</button>
        <button id=fairplay onclick="runfairplay()">Run Fairplay</button>
      </form>

      <div class="lanes" id=container >
        
      </div> <!-- end of lanes -->
    </div>
  </body>
</html>
