<!DOCTYPE html>
<!-- kudos to https://github.com/TomIsLoading/drag-and-drop-kanban to get us started -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fairplay</title>

    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/drag.js" defer></script>
    <script src="/static/player.js" defer></script>
  </head>
  <body>
    <div class="board">
      <form id="player-form">
        <input type="text" placeholder="New Player..." id="player-input" />
        <button type="submit">Add +</button>
        <button>Run Fairplay</button>
      </form>

      <div class="lanes">
        <div class="shift" id="shift1">
          <h3 class="heading">Shift1</h3>
          <!-- by default throw all players into shift1 until the algo is run -->
          {% for player in players %}
            <p class="player" draggable="true"> {{ player.name }} </p>
          
          {% endfor %}
        </div>

        <div class="shift">
          <h3 class="heading">Shift2</h3>
        </div>

        <div class="shift">
          <h3 class="heading">Shift3</h3>
        </div>

        <div class="shift">
          <h3 class="heading">Shift4</h3>
        </div>

        <div class="shift">
          <h3 class="heading">Shift5</h3>
        </div>

        <div class="shift">
          <h3 class="heading">Shift6</h3>
        </div>

        <div class="shift">
          <h3 class="heading">Shift7</h3>
        </div>

        <div class="shift">
          <h3 class="heading">Shift8</h3>
        </div>

      </div>
    </div>
  </body>
</html>
